.title {
    font-size: 65px;
  }
  
h1 {
    direction: rtl;
    color: saddlebrown;
  }
body{
  background-color:lavenderblush;
}
.burgerPic{
  float: left;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(218, 198, 145);
}
.side{
  float: left;
}
.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nev-link:hover {
  background-color: palegoldenrod;
}
.active {
  background-color: saddlebrown;
}